.contenedor-relativo {
    @apply relative flex min-w-60 flex-col items-center overflow-hidden justify-center max-md:max-h-400-px;
    max-width: 490px;
    height: 480px;

}

.copy-hexagon {
    @apply absolute flex flex-1 min-w-60 flex-col items-center justify-center;
    height: 260px;
    animation: rotacion 40s linear infinite;
}

.contenedor-hexagon {
    @apply flex justify-center items-center max-md:max-w-200-px max-md:max-h-160-px;
    width: 300px;
    height: 260px;

}

.hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    @apply flex flex-1 object-cover;
    width: 100%;
    height: 100%;

}

.lineas {
    @apply absolute flex flex-1 justify-between items-center max-md:max-w-348-px;
    top: 100px;
    bottom: 100px;
    width: 470px;
    height: 60px;
}

.center {
    @apply rotate-90;
}

.left {
    transform: rotate(-30deg);
}

.right {
    transform: rotate(30deg);
}

.circle {
    @apply rounded-full flex items-center justify-center shadow-lg bg-white max-md:max-h-50-px max-md:max-w-50-px;
    width: 60px;
    height: 60px;
}

.rotate-image-0,
.rotate-image-1,
.rotate-image-2 {
    @apply max-md:max-w-7 max-md:max-h-7;
    width: 35px;
    height: 35px;
}

.rotate-image-0 {
    animation: rotacion-images 17s linear infinite;
}

.rotate-image-1 {
    transform: rotate(30deg);
    animation: rotacion-images 17s linear infinite;
}

.rotate-image-2 {
    transform: rotate(-30deg);
    animation: rotacion-images 17s linear infinite;
}

@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotacion-images {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}