.contenedor-carrusel {
    @apply relative flex max-md:min-h-80 overflow-hidden;
    max-height: 370px;
}

.carruseles {
    @apply flex;
    min-width: 400%;
    height: 100%;
}

.section-image {
    width: calc(100% / 4); 
}

.imagen {
    @apply object-cover;
    width: 100%;
    height: 100%;
}